.details-container{
    display: flex;
    justify-content: space-between;
   
}

.images{
 border: 2px solid black;
 width: 40%;
 
}

.span{
    color: red;
}

.details-container button{
    margin-top: 20px;
}