
.input-group{
    position: relative;
  margin: 25px 0;
}

.input-group .input-form {
    background: none;
    background-color: white;
    color: gray;
    font-size: 18px;
    padding: 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid gray;
    margin: 0;
    outline: none;
}


